# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MUN\Course\2021Winter\ENGI9875-Embedded-and-Real-Time-Operating-System-Design\ENGI9875\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
